.App {
  background-color: lightsteelblue;
  text-align: center;
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: indigo;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.SUorLI {
  display: flex;
  justify-content: space-around ;
  align-items: center;
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: black;
  background-color: rgba(37, 24, 0, 0);
}

.SU {
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: black;
  background-color: aquamarine;
}

.LI {
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: black;
  background-color: lightgreen;
}


.controls {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

.ctrlbtn {
  font-size: 150%
}

.hiddenSections {
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: black;
  display: flex;
  justify-content: space-around;
}

.dispImages {
  background-color: aqua;
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: blue;
}

.dispUsers {
  background-color: lightyellow;
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: rgb(85, 0, 0);
}

.dispUpdate {
  background-color: goldenrod;
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: orange;
}

.dispDelete {
  background-color: red;
  box-sizing: border-box;
  border-width: 5px;
  border-style: double;
  border-color: darkred;
}

img {
  width:50vw
}